server:
  servlet:
    context-path: 

spring:
  sleuth:
    keys.http.headers: X-Amz-Cf-Id
    baggage:
      remote-fields: X-Amz-Cf-Id
      correlation-fields: X-Amz-Cf-Id

springdoc:
  api-docs.enabled: false
  swagger-ui.enabled: false

application:
  log:
    enabled: false

logging:
  pattern:
    console: '[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} %c{1} - [%X{X-B3-TraceId},%X{X-Amz-Cf-Id}] [%X{TRACKING}] - %msg%n'
  level:
    root: error
    es.gob.radarcovid: debug
